.row
    nav#topNav.navbar.fixed-top.navbar-toggleable-sm
        .container
            button.navbar-toggler.hidden-md-up.float-right(type='button', data-toggle='collapse', data-target='#collapsingNavbar')  &#x2630;
            a.navbar-brand.page-scroll(href='/home') Matcha
            #collapsingNavbar.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.page-scroll(href='/profile') My Profile
                    li.nav-item
                        a.nav-link.page-scroll(href='/home') Home
                    li.nav-item
                        a.nav-link.page-scroll(href='/affinity') My affinities
                    li.nav-item
                        a.nav-link.page-scroll(href='/logout') Logout
