mixin notifications(nickname, data)
        ul.dropdown-menu.dropdown-cart(role='menu')
            li
                span.item
                    span.item-left
                        img(src="http://api.adorable.io/avatar/33/" + nickname)
                        span.item-info
                            span #{nickname}
                            if data.visit !== undefined
                                span visit your profile
                            else
                                span like your profile
                    span.item-right
                        button.btn.btn-xs.btn-danger.pull-right x

