extends ../index

block register
    .main.container
        .row
            form.form-horizontal(method='POST', action='/users/register')
                div.form-group
                    label(for='firstname') FirstName:
                    input#firstname.form-control(type='text', placeholder='first' name='firstname')
                div.form-group
                    label(for='lastname') LastName:
                    input#lastname.form-control(type='text', placeholder='first' name='lastname')
                div.form-group
                    label(for='email') Email:
                    input#email.form-control(type='email', placeholder='name@email.com' name='email')
                div.form-group
                    label(for='birthday') Birthday:
                    input#birthday.form-control(type='date', placeholder='name@email.com' name='birthday')
                div.form-group
                    label(for='pw') Password:
                    input#pw.form-control(type='password' name='password')
                div.form-group
                    label(for='pw2') Confirm Password:
                    input#pw2.form-control(type='password' name='cPassword')
                button.btn.btn-primary(type='submit') Sign up
