extends layout

block content
    include partials/navbar


    .container
        form.form-horizontal(method='POST', action='/profile/forgotPassword')
            div.form-group
                input#email.form-control(type='email', placeholder='name@email.com' name='email', pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/')
            button(type="submit", value="Upload") Email


