extends layout
include tools

block content
    include partials/navbar

    a(href="/home") Home
    a(href="/users/logout") Logout
    a(href="/profile") Profile

    each  elem  in user
        li=  elem

    .col-lg-3.col-md-3.hidden-sm.hidden-xs
        .panel.panel-default
            .panel-body
                .media
                    div(align='center')
                        img.thumbnail.img-responsive(src='https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png', width='300px', height='300px')
                    .media-body
                        hr
                        h3
                            strong Bio
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.
                        hr
                        h3
                            strong Location
                        p Earth
                        hr
                        h3
                            strong Gender
                        p Unknown
                        hr
                        h3
                            strong Birthday
                        p January 01 1901

