extends layout
include partials/userGallery

block content
    include partials/navbar

    .container-fluid
        .jumbotron
            .row
                .col-sm-8
                    form.form-horizontal(method='POST', action='/profile/search')
                        div.form-group
                            label.control-label Orientation
                                label.radio-inline Male
                                    input#male(type='radio', name="gender", value='1')
                                label.radio-inline Female
                                    input#female(type='radio', name="gender", value='0')
                                label.radio-inline bisexual
                                    input#bisexual(type='radio', name="gender", value='2')
                        div.form-group
                            .input-group.col-md-4
                                input.search-query.form-control(type='text', name="search", placeholder='Search')
                        div.form-group
                            input#ageMin(type="text", name="ageMin", placeholder="Age min")
                            input#ageMax(type="text", name="ageMax", placeholder="Age max")
                        div.form-group
                            input#distMin(type="text", name="distMin", placeholder="dist min")
                            input#distMax(type="text", name="distMax", placeholder="dist max")
                            button.btn.btn-primary.btn-info(type='submit') Search

                .col-sm-4
                    hr
                    hr
                    form.form-horizontal(method="POST", action='/profile/sortPopularity')
                        button.btn-info(type="submit") Most Popular🌟


            if(message || user)
                .jumbotron
                    .row
                        if message
                            div.alert-sucess.message #{message}

                        if users
                            +userGallery(users, user)



    script
        include ../public/javascripts/scripts.js

