extends layout

block content
    .header
      h1.title: a(href='/') Matcha
      p Find Love with Style

    .row
      .registerForm
        a(href='/register') Register
        br

    .row
      .loginForm
        a(href='/login') Login
        br

    .row
      .test
        block test

    block register

    block login



