extends layout

block content
    .header
      h1.title: a(href='/') Matcha
      p Find Love around you!


    .jumbotron
        .col-sm-8
            .row
                if message
                    div.alert-danger.message #{message}
            .row
              .registerForm
                a(href='/register') Register
                br

            .row
              .loginForm
                a(href='/login') Login
                br

            .row
              .test
                block test

            block register

            block login



