extends layout

block content
    include partials/navbar
    .main.container
        .row
            h2 Modifier mes informations


            form.form-horizontal(method='POST', action='/profile/me')
                div.form-group
                    input#nickname.form-control(type='text', placeholder='Nickname' name='nickname')
                button(type="submit", value="Upload") Nickname

            form.form-horizontal(method='POST', action='/profile/me')
                div.form-group
                    input#firstname.form-control(type='text', placeholder='Firstname' name='firstname')
                button(type="submit", value="Upload") Firstname

            form.form-horizontal(method='POST', action='/profile/me')
                div.form-group
                    input#lastname.form-control(type='text', placeholder='LastName' name='lastname')
                button(type="submit", value="Upload") lastname

            form.form-horizontal(method='POST', action='/profile/me')
                div.form-group
                    input#email.form-control(type='email', placeholder='name@email.com' name='email')
                button(type="submit", value="Upload") Email

            form.form-horizontal(method='POST', action='/profile/password')
                div.form-group
                    input#pw.form-control(type='password', placeholder="Password (8 to 20)" name='password')
                button(type="submit", value="Upload") Password

            form.form-horizontal(method='POST', action='/profile/me')
                div.form-group
                    label.control-label Add some words about you
                    input.form-control(type="textarea", name="bio", placeholder="Hy .....")
                button(type="submit", value="Upload") Bio

            form.form-horizontal(method='POST', action='/profile/me')
                div.form-group
                    label.control-label Where are you living
                    input.form-control(type="city", name="city", placeholder="Paris")
                button.btn-large.btn-primary(type='submit') Location

        .row
            h2.center Ajouter une photo à mon profil
            form.form-group(action="/users/upload", method="post", enctype="multipart/form-data")
                input.form-control(type="file", multiple, name="image", accept="images/*")
                input.form-control(type="submit", value="submit")
                button(type="submit", value="Upload") Upload File

        form#form-interests.hidden
            .input-group.input-group-sm
                input.form-control.input-interest(list='list-interests', type='text', placeholder='New interest')
                datalist#list-interests
                |
                span.input-group-btn
                    button#new-interest.btn.btn-warning(type='button') SEND
                        span.glyphicon.glyphicon-plus-sign(aria-hidden='true')




















