extends layout
include tools

block content
    include partials/navbar

    .container
        h1= (userToShow.nickname ? userToShow.nickname : userToShow.firstname)
        p #{userToShow.location.city}
        p #{userToShow.bio}
        each tag in userToShow.tags
            p.tagsGallery.col-sm-6 #{tag}
