

body {
  background-color: pink;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  background-color: pink;

}
a {
  color: #00B7FF;
}

p {
  background-color: pink;
  color: brown;
  border: 1px solid goldenrod;
}

.usersGallery{
  border: 1px solid deeppink;
  border-radius: 2px;
  margin: 2px 2px 2px 2px;
}

.tagsGallery{
  text-align: center;
  background-color: darkgray;
  border: 3px solid darkgray;
  box-shadow: 1px darkgray;
  border-radius: 2px;

}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages { margin-bottom: 40px }


