@font-face {
  font-family: 'billabongregular';
  src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
  src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
  url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
  url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
  url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.title {
  font-family: billabong, 'billabongregular';
  text-align: center;
  font-weight: 100;
  font-size: 9rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  text-shadow: 0 4px 0 rgba(18, 86, 136, 0.11);
}

body {
  background-color: darkgray;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  background-color: darkgray;
  padding: auto;
  margin-top: 1%;

}
a {
  text-decoration: none;
  color: #00B7FF;
}

.item{color:#48453d; margin-top:30px; overflow:hidden;}
.item-content-block{padding:20px; border-top:2px solid #f6f6f2; background-color:#FFF; display:block;}
.tags p{background-color:#756f5d; padding:10px; color:#fff; display:inline-block; font-size:11px; text-transform:uppercase; line-height:11px; border-radius:2px; margin-bottom:5px; margin-right:2px; text-decoration:none;}
.tags p:hover{background-color:#a38018;}

.buttonPic{
  display:flex;
  justify-content: space-around;
}
/*#messages { list-style-type: none; margin: 0; padding: 0; }*/
/*#messages li { padding: 5px 10px; }*/
/*#messages li:nth-child(odd) { background: #eee; }*/
/*#messages { margin-bottom: 40px }*/

.ChatBox {
  height: 400px;
  width: auto;
  overflow: scroll;

}

.MyNotif{
  background-color: burlywood;
  border: 2px solid burlywood;
  border-radius: 6px;
}
.MyNotif button {
  text-align: center;
}


/*test de mes cards*/

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900');

body {
  margin-top: 60px;
  font-size: 14px;
  font-family: 'Arima Madurai', cursive;
  background-color: #E5E9ED;
}
.btn:hover,
.btn:focus,
.btn:active{
  outline: 0 !important;
}
/* entire container, keeps perspective */
.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}


.card-container.static:hover .card,
.card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
/* flip speed goes here */
.card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  z-index: 3;
}

.back .btn-simple{
  position: absolute;
  left: 0;
  bottom: 4px;
}


/*        Style       */


.card{
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #444444;
}
.card-container, .front, .back {
  width: 100%;
  height: 420px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
}
.card .cover{
  height: 105px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.card .cover img{
  width: 100%;
}
.card .user{
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: -55px auto 0;
  overflow: hidden;
  width: 120px;
}
.card .user img{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  width: 100%;
}

.card .content{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 10px 20px 20px;
}
.card .content .main {
  min-height: 160px;
}
.card .back .content .main {
  height: 215px;
}
.card .name {
  font-family: 'Arima Madurai', cursive;
  font-size: 22px;
  line-height: 28px;
  margin: 10px 0 0;
  text-align: center;
  text-transform: capitalize;
}
.card h5{
  margin: 5px 0;
  font-weight: 400;
  line-height: 20px;
}
.card .profession{
  color: #999999;
  text-align: center;
  margin-bottom: 20px;
}
.card .footer {
  display: inline-flex;
  border-top: 1px solid #EEEEEE;
  color: #999999;
  margin: 30px 0 0;
  padding: 10px 0 0;
  text-align: center;
}

.card .footer p {
  /*position: absolute;*/
  margin-top: -300px;
  color: red;
}
.card .footer .btn-simple{
  margin-top: -6px;
}

.card .likeButton {
  margin-left: 0px;
}

.card .blockButton {
  margin-right: 0px;

}
.card .header {
  padding: 15px 20px;
  height: 90px;
}
.card .motto{
  font-family: 'Arima Madurai', cursive;
  border-bottom: 1px solid #EEEEEE;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}

.card .stats-container{
  width: 100%;
  margin-top: 50px;
}
.card .stats{
  display: block;
  float: left;
  width: 100%;
  text-align: center;
}

.card .stats:first-child{
  border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
  border-left: 1px solid #EEEEEE;
}
.card .stats h4{
  font-family: 'Arima Madurai', cursive;
  font-weight: 300;
  margin-bottom: 5px;
}
.card .stats p{
  color: #777777;
}
/*      Just for presentation        */

.title{
  color: #506A85;
  text-align: center;
  font-weight: 300;
  font-size: 44px;
  margin-bottom: 90px;
  line-height: 90%;
}
.title small{
  font-size: 17px;
  color: #999;
  text-transform: uppercase;
  margin: 0;
}
.space-30{
  height: 30px;
  display: block;
}
.space-50{
  height: 50px;
  display: block;
}
.space-200{
  height: 200px;
  display: block;
}
.white-board{
  background-color: #FFFFFF;
  min-height: 200px;
  padding: 60px 60px 20px;
}
.ct-heart{
  color: #F74933;
}

pre.prettyprint{
  background-color: #ffffff;
  border: 1px solid #999;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
}
.atv, .str{
  color: #05AE0E;
}
.tag, .pln, .kwd{
  color: #3472F7;
}
.atn{
  color: #2C93FF;
}
.pln{
  color: #333;
}
.com{
  color: #999;
}

.btn-simple{
  opacity: .8;
  color: #666666;
  background-color: transparent;
}

.btn-simple:hover,
.btn-simple:focus{
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
.btn-simple i{
  font-size: 16px;
}

.navbar-brand-logo{
  padding: 0;
}
.navbar-brand-logo .logo{
  border: 1px solid #333333;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  width: 60px;
}
.navbar .navbar-brand-logo .brand{
  color: #FFFFFF;
  float: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
}
.navbar-default .navbar-brand-logo .brand{
  color: #555;
}

/*Chat Css*/

{
  box-sizing: border-box;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 100%;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 347px;
  overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}

/*end Chat css*/


/*  Notifications*/



.dropdown {
  display:inline-block;
  margin-left:20px;
  padding:10px;
}


.glyphicon-bell {

  font-size:1.5rem;
}

.notifications {
  min-width:420px;
}

.notifications-wrapper {
  overflow:auto;
  max-height:250px;
}

.menu-title {
  color:#ff7788;
  font-size:1.5rem;
  display:inline-block;
}

.glyphicon-circle-arrow-right {
  margin-left:10px;
}


.notification-heading, .notification-footer  {
  padding:2px 10px;
}


.dropdown-menu.divider {
  margin:5px 0;
}

.item-title {

  font-size:1.3rem;
  color:#000;

}

.notifications a.content {
  text-decoration:none;
  background:#ccc;

}

.notification-item {
  padding:10px;
  margin:5px;
  background:#ccc;
  border-radius:4px;
}







/*  End Notifications*/














/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .front, .back{
    -ms-backface-visibility: visible;
    backface-visibility: visible;
  }

  .back {
    visibility: hidden;
    -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
  }
  .front{
    z-index: 4;
  }
  .card-container:not(.manual-flip):hover .back,
  .card-container.manual-flip.hover .back{
    z-index: 5;
    visibility: visible;
  }
}

